# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Netbeans
nb-configuration.xml
nbactions.xml

# Visual Studio Code
.vscode
.factorypath

# Eclipse
.project
.classpath
.settings/
bin/

# Java artifacts
*.class
*.jar
*.war
*.ear

# Maven
target/

# Local and personal ENV settings
.env

# MacOS files
.DS_Store
